[submodule "thirdparty/glfw"]
	path = thirdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "thirdparty/gsl-lite"]
	path = thirdparty/gsl-lite
	url = https://github.com/martinmoene/gsl-lite.git
